/*import font 'Manrope'*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*----------------------CSS RESET------------------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*----------------------CUSTOM VARIABLES------------------------ */
:root{

--very-dark-grayish-blue: hsl(217, 19%, 35%);
--desaturated-dark-blue: hsl(214, 17%, 51%);
--grayish-blue: hsl(212, 23%, 69%);
--light-grayish-blue: hsl(210, 46%, 95%);
}

/*----------------------GENERAL STYLES------------------------ */

body{
  height: 100vh;
  font-family: "Manrope", sans-serif;
 
  
}
img:not(.card_image){
  /*targets all image elements(avatar img  + share svg) except the one with the class card_image  */
 max-width: 100%; 
  display: block;
}

.card_image{
  width: 100%;/*without this the card image does not fill up the left section(there is some whitespace) */
  display: block;
} 

/*----------------------MAIN CONTAINER STYLES---------------------- */
main.container{
  height: 100%;
  padding: 1em 2em;
  background-color: var(--light-grayish-blue);
}

/*---------------------CARD SECTIONM----------------------------- */
.card{
  border: 2px solid firebrick;
  background-color: white;
}

/*------------------------IMAGE SECTION(LEFT)-------------------------- */
.card_image-section{
  /*make sure the image alwas takes up the full space of this container */
  border: 4px solid dodgerblue;
  margin-bottom:2.5rem;
}


/*-------------------------TEXT SECTION(RIGHT)-------------------------- */
.card__text-section-avatar-share{
  background-color: white;

}

/* ---------------------------------ATTRIBUTION STY;ES ------------------------------------- */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
